{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{%static 'menu/css/styles.css' %}" rel="stylesheet" />
</head>
<body>



{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="#"><div class="logo"></div></a></li>
{% for m in menu %}
			<li class="last"><a href="#">{{m.title}}</a></li>
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

{% block content %}
{% endblock %}
</body>
</html>